.lb-wrapper {
  background-color: $brand-color;
  color: $gray-dark;
  font-family: $base-font;
  font-size: $base-size;
  line-height: $base-height;
  h1, h2, h3 {
  font-family: $header-font;
  }

}
