.lb-label {
  border: 1px solid $gray;
  padding: 3px 10px;
  margin: 5px;
  text-transform: uppercase;
  transition: all 0.2s ease;
  &:hover {
    background-color: $gray;
    color: $brand-color;
    border: 1px solid $gray;
    cursor: pointer;
  }
  .number {
    font-size: 10px;
  }
}
.is-selected {
  background-color: $gray-dark;
  color: $brand-color;
  border: 1px solid $gray-dark;
}
