.product-card {
  height: 500px;
  width: 300px;
  margin: auto;
  .product-picture {
    height: 280px;
    width: 280px;
    background-color: $blue-dark;
    margin: auto;
  }
  .product-content {
    padding: 5px 10px 10px 10px;
    .product-title {
      font-weight: bold;
      font-size: $base-size;
      color: $gray-dark;
    }
    .product-price {
      color: $gray-light;
    }
    .product-description {
      font-size: $small-size;
      color: $gray;
      height: 100px;
    }
  .product-labels {
    font-size: $small-size;
    display: flex;
    color: $gray-dark;
    .product-label {
      margin: 5px 10px 5px 0px;
      padding: 1px 0px 0px 0px;
      line-height: 13px;
      border-bottom: 1px solid $gray-light;
    }
  }
  }
  &:hover {
    cursor: pointer;
  }
}
