@import url("https://fonts.googleapis.com/css?family=Rozha+One|Source+Sans+Pro:400,600,700,900");
.container {
  width: 100%; }

.padding-0 {
  padding: 0; }

.margin-0 {
  margin: 0; }

.margin-top-100 {
  margin-top: 100px; }

.margin-top-30 {
  margin-top: 30px; }

.margin-left-20 {
  margin-left: 20px; }

.margin-right-20 {
  margin-right: 20px; }

.wrapper {
  margin: 0; }

a {
  color: inherit;
  text-decoration: none;
  color: inherit; }
  a:hover {
    text-decoration: none;
    color: inherit; }
  a:active {
    text-decoration: none;
    color: inherit; }
  a:visited {
    text-decoration: none;
    color: inherit; }
  a:link {
    text-decoration: none;
    color: inherit; }

.red {
  color: #F64747; }

.avatar-sm {
  width: 30px;
  height: 30px;
  background-color: #f3f2e5; }

input:focus {
  outline: none; }

button {
  border-style: none;
  border-color: transparent;
  border-image: none; }

.navbar-wrapper {
  border-bottom: 0.5px solid #f3f2e5;
  display: flex;
  justify-content: space-between;
  font-size: 1em;
  padding: 10px 0px 10px 20px;
  letter-spacing: 0.3px; }
  .navbar-wrapper .left {
    display: flex;
    align-items: center; }
  .navbar-wrapper .right {
    display: flex;
    align-items: center; }
  .navbar-wrapper .menu-item {
    padding: 0 0 0 20px;
    font-size: 0.8em;
    transition: all ease 0.3s;
    color: #748386; }
    .navbar-wrapper .menu-item:hover {
      cursor: pointer;
      color: black; }

.navbar-fixed {
  position: fixed; }

.product-card {
  height: 500px;
  width: 310px;
  margin: auto; }
  .product-card .product-picture {
    height: 300px;
    width: 300px;
    background-color: #113849;
    margin: auto; }
  .product-card .product-content {
    padding: 5px 10px 10px 10px; }
    .product-card .product-content .content-header {
      display: flex;
      flex-flow: row;
      align-items: center; }
      .product-card .product-content .content-header .header-title {
        flex-grow: 1; }
      .product-card .product-content .content-header i {
        font-size: 18px;
        margin: 5px;
        padding-left: 5px;
        transition: all 0.2s ease; }
        .product-card .product-content .content-header i:hover {
          transform: scale(1.05); }
      .product-card .product-content .content-header .fa-heart-o {
        color: #93A8AC;
        transition: all 0.2s ease; }
        .product-card .product-content .content-header .fa-heart-o:hover {
          color: #F64747; }
      .product-card .product-content .content-header .fa-heart {
        color: #F64747;
        transition: all 0.2s ease; }
        .product-card .product-content .content-header .fa-heart:hover {
          color: #93A8AC; }
    .product-card .product-content .product-title {
      font-weight: bold;
      font-size: 14px;
      color: #353F47; }
    .product-card .product-content .product-price {
      color: #93A8AC; }
    .product-card .product-content .product-description {
      font-size: 12px;
      color: #748386;
      height: 100px; }
    .product-card .product-content .product-labels {
      font-size: 12px;
      display: flex;
      color: #353F47; }
      .product-card .product-content .product-labels .product-label {
        margin: 5px 10px 5px 0px;
        padding: 1px 0px 0px 0px;
        line-height: 13px;
        border-bottom: 1px solid #93A8AC; }
  .product-card:hover {
    cursor: pointer; }

.category-filters {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 0px 0px 0px;
  font-size: 12px;
  color: #748386;
  letter-spacing: 0.3px; }

.category-label {
  border: 1px solid #748386;
  padding: 3px 10px;
  margin: 5px;
  text-transform: capitalize;
  transition: all 0.2s ease; }
  .category-label:hover {
    background-color: #748386;
    color: #FFFEF0;
    border: 1px solid #748386;
    cursor: pointer; }
  .category-label .number {
    font-size: 10px; }
  .category-label.is-selected {
    background-color: #353F47;
    color: #FFFEF0;
    border: 1px solid #353F47; }
  .category-label.is-all {
    color: #F64747;
    border: 1px solid #F64747; }
    .category-label.is-all.is-selected {
      background-color: #F64747;
      color: #FFFEF0;
      border: 1px solid #F64747; }
    .category-label.is-all:hover {
      background-color: #F64747;
      color: #FFFEF0;
      border: 1px solid #F64747; }

.collectioner-filters {
  font-size: 12px;
  color: #748386; }

.collectioner-label {
  margin-bottom: 15px;
  transition: all 0.2s ease;
  display: flex;
  flex-flow: row;
  align-items: center;
  letter-spacing: 0.3px; }
  .collectioner-label .collectioner-content {
    margin-left: 10px; }
  .collectioner-label .collection-title {
    color: #93A8AC;
    font-style: italic;
    transition: all 0.2s ease; }
  .collectioner-label .is-selected {
    color: #353F47; }
    .collectioner-label .is-selected .collection-title {
      color: #748386; }
    .collectioner-label .is-selected:hover {
      color: black; }
  .collectioner-label:hover {
    color: #353F47;
    cursor: pointer; }
    .collectioner-label:hover .collection-title {
      color: #748386; }

.filters-fixed {
  position: fixed; }

.filter-title {
  margin-bottom: 20px;
  padding: 5px;
  font-weight: 600;
  border-bottom: 2px solid #f3f2e5;
  color: #93A8AC;
  font-size: 16px; }

.lb-form {
  display: flex;
  flex-flow: row; }
  .lb-form .input-form {
    flex-grow: 1;
    border: none;
    border-left: 1px solid #f3f2e5;
    border-bottom: 1px solid #f3f2e5;
    border-top: 1px solid #f3f2e5;
    opacity: 0.7;
    transition: 0.2s all ease; }
    .lb-form .input-form:focus {
      border: none;
      opacity: 1;
      padding: 5px 10px;
      letter-spacing: 0.3px;
      color: #353F47; }
  .lb-form .btn-form {
    color: #FFFEF0;
    padding: 5px 15px;
    background-color: #31596A;
    border-top: 1px solid #f3f2e5;
    border-right: 1px solid #f3f2e5;
    border-bottom: 1px solid #f3f2e5; }
    .lb-form .btn-form:hover {
      background-color: #113849;
      cursor: pointer; }

.newsletter-form {
  padding: 0px 10px; }

.input-form::placeholder {
  letter-spacing: 0.3px;
  padding: 5px 10px; }

.editor {
  flex-grow: 1;
  background: white;
  opacity: 0.8;
  border-bottom: 1px solid #93A8AC;
  padding-left: 10px;
  padding-top: 5px; }

.focused {
  border-top: 1px solid #f5f4e8;
  border-left: 1px solid #f5f4e8;
  opacity: 1; }

.circular-progress {
  height: 100vh;
  display: flex;
  justify-content: center; }

.auth {
  display: flex;
  flex-flow: column;
  height: 80vh;
  justify-content: center;
  align-items: center; }
  .auth .title {
    padding: 30px; }
  .auth .form {
    display: flex;
    flex-flow: column;
    justify-content: space-around; }
    .auth .form .btn {
      background-color: #31596A;
      border-radius: 0px;
      color: #FFFEF0;
      padding: 10px;
      letter-spacing: 1px;
      transition: all 0.2s ease; }
      .auth .form .btn:hover {
        background-color: #113849; }
    .auth .form input {
      width: 400px;
      background-color: #fffef0;
      border-bottom: 1px solid #f3f2e5; }

.lb-wrapper {
  background-color: #FFFEF0;
  color: #353F47;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 1.6; }
  .lb-wrapper h1, .lb-wrapper h2, .lb-wrapper h3 {
    font-family: "Rozha One", serif; }

* {
  box-sizing: border-box; }

/* form starting stylings ------------------------------- */
.group {
  position: relative;
  margin-bottom: 45px; }

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575; }

input:focus {
  outline: none; }

/* LABEL ======================================= */
label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

/* active state */
input:focus ~ label, input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264AE; }

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 300px; }

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

.bar:before {
  left: 50%; }

.bar:after {
  right: 50%; }

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width: 50%; }

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5; }

/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease; }

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }

@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }

@keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }
