.padding-0 {
  padding: 0;
}
.margin-0 {
  margin: 0;
}
.wrapper {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
  &:active {
    text-decoration: none;
    color: inherit;
  }
  &:visited {
    text-decoration: none;
    color: inherit;
  }
  &:link {
    text-decoration: none;
    color: inherit;
  }
}
