
// FONTS

// Font Types
@import url('https://fonts.googleapis.com/css?family=Rozha+One|Source+Sans+Pro:400,600,700,900');

$base-font: 'Source Sans Pro', sans-serif;
$header-font: 'Rozha One', serif;

// Font Size and Line Height
$base-size: 14px;
$small-size: 11px;

$base-height: 1.6;

// Colors
$brand-color: #D23333;

$blue: #31596A;
$blue-dark: #113849;

$gray-dark:    #353F47;
$gray:         #748386;
$gray-light:   #93A8AC;
